@import "topics.css";

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* global
-----------------------------------------------------------*/
html, body
{
    margin: 0;
    padding: 0;
    font-family: 'Droid Sans', arial, serif;
}

body
{
    background: White url(../images/back.jpg) repeat;
}

/* Styles for single story
-----------------------------------------------------------*/

.vote_up
{
    display: block;
    background-image: url(../images/vote.png);
    width: 22px;
    height: 28px;
    cursor: pointer;
}

.content
{
    width: 960px;
    margin: 0 auto;
    padding: 0;
    background: Transparent url(../images/white_transparent_60.png) repeat;
}

.left_shadow
{
    width: 10px;
    background: Transparent url(../images/left_border_shadow.png) repeat;
}

.right_shadow
{
    width: 10px;
    background: Transparent url(../images/right_border_shadow.png) repeat;
}

.green_section > .section_header
{
    height: 10px;
    background: Transparent url(img/green_header.png) repeat;
}

.green_section > .section_footer
{
    height: 10px;
    background: Transparent url(img/green_footer.png) repeat;
}

.green_section > .section_content
{
    padding: 0 0 0 10px;
    background-color: #8CC63F;
}

.gray_section > .section_header
{
    height: 10px;
    background: Transparent url(img/gray_header.png) repeat;
}

.gray_section > .section_footer
{
    height: 10px;
    background: Transparent url(img/gray_footer.png) repeat;
}

.gray_section > .section_content
{
    padding: 0 0 0 10px;
    background-color: #676767;
}

.orange_section > .section_header
{
    height: 10px;
    background: Transparent url(../images/orange_header.png) repeat;
}

.orange_section > .section_footer
{
    height: 10px;
    background: Transparent url(../images/orange_footer.png) repeat;
}

.orange_section > .section_content
{
    padding: 0 0 0 10px;
    background-color: #F05A22;
}

.add_post
{
    background-image: url(../images/POSTbutton.png);
    width: 300px;
    height: 54px;
    display: block;
    font-family: 'Droid Sans', arial, serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 54px;
    color: White;
    text-decoration: none;
    text-align: center;
}

.story_code_container
{
     width: 660px;
     float: left;
}

.story_code
{
    border: 1px solid Gray;
    overflow: auto;
}

/* override sh margin */
.syntaxhighlighter {
  width: 100% !important;
  margin: 0 !important;
  position: relative !important;
  overflow: auto !important;
  overflow-y: hidden !important;
  font-size: 1em !important;
}

.left_column
{
    /*width: 660px;*/
    float: left;
}

.right_column
{
    float: right;
    width: 300px;
    /*height: 500px;*/
    /*border: 1px solid Gray;*/
}

.story_data
{
    margin: 5px 0;
    width: 640px;
    float: left;
    border: 1px solid Gray;
}

.section
{
    border-bottom: 1px dashed Black;
    margin-bottom: 10px;
}

.section > .name
{
    font-size: large;
    font-weight: bold;
}

.story
{
    cursor: pointer;
}

.story_header
{
    margin-bottom: 5px;
}

.story_header > .name
{
    font-size: x-large;
    font-weight: bold;
}

.story_footer
{
    margin-bottom: 20px;
}