/* 
    Document   : site
    Created on : Jun 2, 2011, 9:35:46 PM
    Author     : jzaric
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.field_with_errors > * {
    border: red 1px solid;
}

