<div style="padding-right: 10px;">
  <pre style="-moz-border-radius: 6px; border-radius: 6px; background-color: White; min-height: 128px; overflow: auto;" class="prettyprint"><%= geaket.content %></pre>
</div>
<div style="float: right; padding-right: 10px; color: white;"><%= render :partial => "shared/author", :locals => {:user => geaket.user} %></div>
<div style="clear: both;"></div>
