<div style="width: 625px;" class="green_section">
  <div class="section_header">
  </div>
  <div style="font-family: 'Droid Sans', arial, serif;" class="section_content">
    <h2 style="color: #fff; margin: 0; padding: 0;">
      About
    </h2>
    <div style="padding-top: 10px;">
      <h3>How it all started?</h3>
      <p>I was creating a scalability plan for a project and it was going really well until I came across <a href="http://highscalability.com/blog/2008/3/12/youtube-architecture.html" style="color: blue;">this</a> page. Look at the "Recipe For Handling Rapid Growth" section.</p>
      <pre style="-moz-border-radius: 6px; border-radius: 6px; background-color: White; overflow: auto; margin: 0; margin-right: 10px;" class="prettyprint">
while (true)
{
  identify_and_fix_bottlenecks();
  drink();
  sleep();
  notice_new_bottleneck();
}</pre>
      <p>How do you call this peace of code? It doesn't really solve a real world problem right? But on the other hand, it is a code snippet. So it is a code snippet that actually tells you something about real life, just in a really geaky way. I didn't invent it obviously, I just called it a<span style="font-size: 48px;">GEAKET!</span></p>
      <h3>So...</h3>
      <pre style="-moz-border-radius: 6px; border-radius: 6px; background-color: White; overflow: auto; margin: 0; margin-right: 10px;" class="prettyprint">
if(you.haveSomethingToSay() && !NonGeaks.CanUnderstand(you)){
  you.TellItYourWay();
  Geaks.Understand();
}</pre>
    </div>
    <div style="clear: both; font-weight: bold; text-align: right; padding-right: 10px;">
      &nbsp;
    </div>
  </div>
  <div class="section_footer">
  </div>
</div>