<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<% @geakets.each do |geaket| %>
<b><%= geaket.title %></b>, <%= geaket.created_at %><br/>
<% end %>
<%= will_paginate(@geakets) %>
