<div style="width: 625px;" class="green_section">
  <div class="section_header">
  </div>
  <div style="font-family: 'Droid Sans', arial, serif;" class="section_content">
    <h2 style="font-size: 14pt; color: #fff; margin: 0; padding: 0;">
      <a href="/">Awesomest</a><a href="/latest" style="margin-left: 20px;">Latest</a></h2>
    <div style="padding-top: 10px;">
      <%= render :partial => "shared/geaket", :collection => @geakets %>
    </div>
    <div style="clear: both; font-weight: bold; text-align: right; padding-right: 10px;">
      <%= will_paginate(@geakets) %>
    </div>
  </div>
  <div class="section_footer">
  </div>
</div>
