<div style="width: 625px;" class="green_section">
  <div class="section_header">
  </div>
  <div style="font-family: 'Droid Sans', arial, serif;" class="section_content">
    <%= render :partial => "shared/geaket", :locals => { :geaket => @geaket, :render_share => true } %>
  </div>
  <div class="section_footer">
  </div>
</div>
<div style="width: 625px; margin-top: 10px;" class="gray_section">
  <div class="section_header">
  </div>
  <div style="font-family: 'Droid Sans', arial, serif; padding-bottom: 10px; color: white;" class="section_content">
    <h2 style="font-size: 14pt; color: #fff; margin: 0; padding: 0 0 5px 0;"><span style="line-height: 31px;">Patches</span><%= link_to "Add patch!", new_geaket_patch_path(:geaket_id => @geaket.id), :class => "action", :style => "float: right;" %></h2>
    <hr/>
    <% if @patches.empty? %>
    <div style="text-align: center;">
      No patches yet
    </div>
    <% else %>
      <%= render :partial => "shared/geaket", :collection => @patches, :as => :geaket, :locals => { :margin_top => 10 } %>
      <div style="color: white; text-align: center; padding-top: 5px;">
        <%= will_paginate(@patches) %>
      </div>
    <% end %>
  </div>
  <div class="section_footer">
  </div>
</div>